.full-width-table {
  width: 100%;
}

.mat-toolbar {
  position: relative;
  background-color: #ffffff;
  color: #673ab7;
}

.user-title {
  flex: 1;
}
.mat-button-toggle-checked{
  background-color: #673ab7;
  color: #ffffff;
}